<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calorie App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('user.index') }}">Home</a>
      <a href="{{ url_for('bmi_bp.bmi_page') }}">BMI Calculator</a>
      <a href="{{ url_for('diet.diet_page') }}">My Latest Plan</a>
      <a href="{{ url_for('diet.history') }}">History</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2025 Calorie App</p>
  </footer>
</body>
</html>